body{
	background-color: #ececec;
}
.container1{
	width: 1225px;   
	margin-left: auto;
	margin-right: auto;
}
.top{
	width: 100%;
	height: 33px;
	background-color: #2a2b2d;
	position: relative;
	overflow: hidden;
}
.top .top-logo{
	display: block;
	width: 46px;
	height: 33px;
	overflow: hidden;
	position: absolute;
	top: -7px;
    left: 13px;
}
.top .top-nav{
	position: absolute;
	top: 0px;
	left: 414px;
}
.top .top-nav li{
	float: left;
	height: 33px;
	line-height: 33px;
	margin-right: 40px;
}
.top .top-right-content{
	float: right;
}
.top .top-right-content a{
	display: inline-block;
	height: 33px;
	line-height: 33px;
	margin-right: 26px;
}
.header{
	margin-bottom: 25px;
	background-color: #fff;
}
.header .container1{
	height: 75px;
	position: relative;
}
.header .header-nav{
	float: left;
}
.header .header-nav li{
	float: left;
	height: 75px;
	line-height: 75px;
	margin-right: 30px;
	transition: all 0.3s;
	cursor: pointer;
}
.header .header-nav li:first-child{
	font-weight: bold;
}
.header .header-nav li:hover{
	color: #5c96df;
}
.header .header-search{
	position: absolute;
	top: 20px;
	right: 0px;
	height: 35px;
	width: 330px;
}
.header .header-search .search-border{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 35px;
	width: 330px;
	border-radius: 17px;
	border: 2px solid #f2f2f2;
	outline: none;
	padding-left: 40px;
	box-sizing: border-box;
	font-size: 12px;
}
.header .header-search .iconfont{
	position: absolute;
	top: 7px;
	left: 10px;
	width: 20px;
	height: 20px;
	font-size: 20px;
	color: #a0a0a0;
	cursor: pointer;
}
.header .header-search .hot-search{
	position: absolute;
	top: 7px;
	right: 10px;
	width: 190px;
	height: 20px;
	border: 1px solid #93b2f7;
	background-color: #e5efff;
	color: #3965cc;
	font-size: 12px;
	border-radius:10px; 
	text-align: center;
	line-height: 20px;
}
.header .header-search .search-history{
	position: absolute;
	top: 57px;
	left: 0px;
	width: 330px;
	height: 380px;
	font-size: 12px;
	border: 1px solid #f2f2f2;
	background-color: #fff;
	display:none;
	border-radius: 10px;
	z-index: 21;
}
.header .header-search .search-history li{
	height: 38px;
	line-height: 38px;
	padding-left: 10px;
	color: #333;
	transition: all 0.5s;
	cursor: pointer;
}
.header .header-search .search-history li:hover{
	color:#5c96df;
	font-weight: bold;
	font-size: 13px;
}
.header .header-search .search-border:focus ~ .hot-search{
	display: none;
}
.header .header-search .search-border:focus ~ .search-history{
	display: block;
}
.top-bottom-nav .container1{
	height: 20px;
	margin-bottom: 25px;
}
.top-bottom-nav ul li{
	float: left;
	margin-right: 20px;
	font-size: 15px;
	color: #999;
}
.top-bottom-nav ul li:nth-child(odd){
	cursor: pointer;
}
.top-bottom-nav ul li:first-child{
	color: #5c96df;
}
.top-bottom-nav ul li:hover{
	color: #5c96df;
}
.hot .container1{
	height: 2172px;
	background-color: #fff;
}
.hot .container1 li{
	float: left;
	width: 245px;
	height: 362px;
	box-sizing: border-box;
}
.hot .container1 .general-images{
	position: relative;
	width: 245px;
	height: 362px;
	border:1px solid #efefef;
	box-sizing: border-box;
	cursor: pointer;
	border-collapse: collapse;

}
.hot .container1 .general-images .for-add-bcgimg{
	position: absolute;
	top: 32px;
	left: 20px;
	width: 200px;
	height: 180px;
	background-image: url(../img/brand.png);
}
.hot .container1 .general-images .for-add-bcgimg1{
	background-position: -97px -212px;
}
.hot .container1 .general-images .for-add-bcgimg2{
	background-position: -342px -212px;
}
.hot .container1 .general-images .for-add-bcgimg3{
	background-position: -587px -212px;
}
.hot .container1 .general-images .for-add-bcgimg4{
	background-position: -832px -212px;
}
.hot .container1 .general-images .for-add-bcgimg5{
	background-position: -1077px -212px;
}
.hot .container1 .general-images .for-add-bcgimg6{
	background-position: -97px -576px;
}
.hot .container1 .general-images .for-add-bcgimg7{
	background-position: -342px -576px;
}
.hot .container1 .general-images .for-add-bcgimg8{
	background-position: -587px -576px;
}
.hot .container1 .general-images .for-add-bcgimg9{
	background-position: -832px -576px;
}
.hot .container1 .general-images .for-add-bcgimg10{
	background-position: -1077px -576px;
}
.hot .container1 .general-images .for-add-bcgimg11{
	background-position: -97px -938px;
}
.hot .container1 .general-images .for-add-bcgimg12{
	background-position: -342px -938px;
}
.hot .container1 .general-images .for-add-bcgimg13{
	background-position: -587px -938px;
}
.hot .container1 .general-images .for-add-bcgimg14{
	background-position: -832px -938px;
}
.hot .container1 .general-images .for-add-bcgimg15{
	background-position: -1077px -938px;
}
.hot .container1 .general-images .for-add-bcgimg16{
	background-position: -97px -1302px;
}
.hot .container1 .general-images .for-add-bcgimg17{
	background-position: -342px -1302px;
}
.hot .container1 .general-images .for-add-bcgimg18{
	background-position: -587px -1302px;
}
.hot .container1 .general-images .for-add-bcgimg19{
	background-position: -832px -1302px;
}
.hot .container1 .general-images .for-add-bcgimg20{
	background-position: -1077px -1302px;
}
.hot .container1 .general-images .for-add-bcgimg21{
	background-position: -97px -1666px;
}
.hot .container1 .general-images .for-add-bcgimg22{
	background-position: -342px -1666px;
}
.hot .container1 .general-images .for-add-bcgimg23{
	background-position: -587px -1666px;
}
.hot .container1 .general-images .for-add-bcgimg24{
	background-position: -832px -1666px;
}
.hot .container1 .general-images .for-add-bcgimg25{
	background-position: -1077px -1666px;
}
.hot .container1 .general-images .for-add-bcgimg26{
	background-position: -97px -2030px;
}
.hot .container1 .general-images .for-add-bcgimg27{
	background-position: -342px -2030px;
}
.hot .container1 .general-images .for-add-skin{
	position: absolute;
	top: 230px;
	left: 0px;
	width: 100%;
	height: 20px;
}
.hot .container1 .general-images .for-add-skin .i-amSmallLi{
	position: absolute;
	top: 0px;
	line-height: 15px;
	height: 15px;
	width: 15px;
	border:1px solid #bbb;
	padding:3px;
	box-sizing: border-box;
	background-clip: content-box;
	border-radius: 50%;
	transition: all 0.5s;
	z-index: 20;
}
.hot .container1 .general-images .for-add-skin .i-amSmallLi:hover{
	border:2px solid #b7b7b7;
}
.hot .container1 .general-images .for-add-skin .i-amSmallLi1{
	left: 50px;
	background-color:#000;
}
.hot .container1 .general-images .for-add-skin .i-amSmallLi2{
	left: 76px;
	background-color: #bfbfbf;
}
.hot .container1 .general-images .for-add-skin .i-amSmallLi3{
	left: 102px;
	background-color: #073147;
}
.hot .container1 .general-images .for-add-skin .i-amSmallLi4{
	left: 128px;
	background-color: #edc681;
}
.hot .container1 .general-images .for-add-skin .i-amSmallLi5{
	left: 154px;
	background-color: #5c4138;
}
.hot .container1 .general-images .for-add-skin .i-amSmallLi6{
	left: 180px;
	background-color:#444132; 
}
.hot .container1 .general-images .for-add-name{
	position: absolute;
	top: 260px;
	left: 0px;
	width:200px;
	height: 20px;
	margin-left: 20px;
	text-align: center;
	line-height: 20px;
}
.hot .container1 .general-images .for-add-name h4{
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.hot .container1 .general-images .for-add-depreciate{
	position: absolute;
	top: 280px;
	left: 0px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #808080;
	font-size: 12px;
}
.hot .container1 .general-images .for-add-price{
	position: relative;
	top: 300px;
	left: 0px;
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #f00;
}
.hot .container1 .general-images .for-add-price i{
	margin-right: 5px;
}
.hot .container1 .general-images .for-add-right-top{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 46px;
	height: 20px;
	box-sizing: border-box;
	border:1px solid #d5b480;
	color: #a06e37;
	background-color: #fffbdf;
	text-align: center;
	line-height: 20px;
	font-weight: bolder;
	border-radius: 10px;
}
.hot .container1 .general-images .for-add-masking{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
	width: 245px;
	height: 362px;
	background-color:rgba(0,0,0,0.3);
	opacity: 0.1;
	display: none;
}
.hot .container1 .general-images:hover .for-add-masking{
	display: block;
}
.main .service{
	height: 193px;
	margin-top: 15px;
	background: #fff;
	text-align: center;
}
.main .service ul li{
	float: left;
	width: 25%;
	height: 193px;
	padding-top: 44px;
	box-sizing: border-box;
}
.main .service ul li i{
	font-size: 48px;
	color: #8d8d8d;
}
.main .service ul li p{
	color: #333;
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 8px;
}.main .service ul li span{
	font-size: 14px;
	color: #a8a8a8;
}
.footer{
	margin-bottom: 24px;
}
.footer .container1{
	height: 225px;
}
.end{
	margin-bottom: 24px;
}
.end .container1{
	height: 131px;
}
.footer-serve{
	width: 1224px;
	height: 225px;
	border-bottom: 1px solid #e6e6e6;
	box-sizing: border-box;
}
.footer-serve .serve-link{
	float: left;
	margin: 50px 0;
}
.footer-serve .serve-link dl{
	float: left;
	margin-left: 90px;
}
.footer-serve .serve-link dl:first-child{
	margin-left: 0px;
}
.footer-serve .serve-link dl dt{
	margin-bottom: 27px;
	font-weight: bold;
	font-size: 12px;
	color: #646464;
}
.footer-serve .serve-link dl dd{
	margin-bottom: 15px;
	font-size: 12px;
}
.footer-serve .serve-link dl dd a{
	color: #969696; 
}
.footer-serve .serve-link dl dd a:hover{
	color: #5079d9;
}
.footer-serve .serve-help{
	float: right;
	width: 180px;
	margin: 50px 0;
}
.footer-serve .serve-help p:first-child{
	float: right;
	font-size: 20px;
	font-weight: bold;
	color: #5079d9;
	margin-bottom: 16px;
}
.footer-serve .serve-help p:first-child i{
	font-size: 23px;
}
.footer-serve .serve-help p:nth-child(2){
	float: right;
	color: #999;
	font-size: 12px;
}
.footer-serve .serve-help p:nth-child(2) span{
	font-size: 11px;
}
.footer-serve .serve-help p:nth-child(3){
	float: right;
	color: #999;
	font-size: 12px;
	margin-bottom: 16px;
}
.footer-serve .serve-help a{
	float: right;
	width: 130px;
	height: 30px;
	border: 1px solid #d0d0d0;
	border-radius: 5px;	
	text-align: center;
	line-height: 30px;
	font-size: 11px;
	color: #5079d9;
	font-weight: bold;
}
.footer-serve .serve-help a i{
	font-size: 11px;
	margin-right: 4px;
	color: #5079d9;
}
/*end部分*/
.end-por{
	width: 1224px;
	height: 130px;
	padding: 30px 0 23px 0;
	box-sizing: border-box;

}
.end-por .por-link{
	float: left;
	width: 790px;
}
.end-por .por-link .link-stt{
	float: left;
}
.end-por .por-link .link-stt li{
	float: left;
	margin-right: 18px;
}
.end-por .por-link p{
	float: left;
	margin-right: 20px;
	color: #bdbdbd;
	font-size: 11px;
}
.end-por .por-link .link-stt li a{
	display: block;
	font-size: 11px;
	color: #bdbdbd;
	border-left: 1px solid #bdbdbd;
	padding-left: 10px;
}
.end-por .por-link .link-stt li a:hover{
	color: #5079d9;
}
.end-por .por-link .link-police{
	float: left;
	margin-top: 12px;
}
.end-por .por-link .link-police li{
	float: left;
	margin-left: 15px;
}
.end-por .por-link .link-police li:first-child{
	margin-left: 0px;
}
.end-por .por-link .link-police li a{
	font-size: 11px;
	color: #bdbdbd;
}
.end-por .por-CN{
	float: right;
	position: relative;
	width: 80px;
	height: 20px;
	box-sizing: border-box;
}
.end-por .por-CN a span{
	line-height: 20px;
	font-size: 11px;
	vertical-align: top;
	color: #333;
}
.end-por .por-CN a i:first-child{
	color: red;
	margin-right: 10px;
}
.end-por .por-CN a i:last-child{
	float: right;
	margin-top: 3px;
	color: #bdbdbd;
	font-size: 10px;
}