*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.common{
	position: relative;
	width: 1220px;
	margin: 0 auto;
}


/* 上面为通用样式 */
header{
	width: 100%;
	height: 45px;
	background-color: #0e0e0e;
}
header .logo{
	float: left;
	width: 19px;
	height: 19px;
	margin: 13px 0 0 23px;
}
header .logo a{
	display: inline-block;
	width: 19px;
	height: 19px;
}
header .logo a img{
	width: 19px;
	height: 19px;
}
header .link{
	width: 1220px;
	margin-left: 380px;
}
header .link li{
	float: left;
	text-align: center;
	margin-left: 30px;
	line-height: 45px;
}
header .link li:first-child{
	margin-left: 0px;	
}
header .link li:first-child a{
	font-weight: bold;
	color: #e5e5e5;
}
header .link li a{
	font-size: 12px;
	color: #bfbfc0;
}
header .link li a:hover{
	color: #e5e5e5;
}
header .sc{
	float: right;
}
header .sc a i{
	margin-right: 15px;
	line-height: 45px;
	font-size: 16px;
	color: #bfbfc0;
}
header .sc a:nth-child(2) i{
	margin-right: 20px;
}
/* 下面导航 */
nav{
	width: 100%;
	height: 74px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,1); 
}
nav .nav-link{
	float: left;
}
nav .nav-link li{
	float: left;
	line-height: 74px;
	margin-left: 30px;
	font-size: 13px;
}
nav .nav-link li a{
	color: #333;
}
nav .nav-link li:first-child a{
	font-weight: bold;
}
nav .nav-link li a:hover{
	color: #5079d9;
}
nav .nav-search{
	background: 
}
nav .nav-search a{
	display: inline-block;
}




section{
	height: 1703px;
	background-color: #ededed;
}
footer{
	height: 355px;
	background-color: #fafafa;
}