
/*头部标题加右侧导航
.general-top-explain{
	width: 1224px;
	height: 60px;
	border:1px solid #ccc;
}
.general-top-explain .general-top-explain-left{
	float: left;
	height: 60px;
	width: 200px;
	background-color: yellow;
	padding-left: 20px;
	color: #777;
}*/
/*上面的标题加符号---大于小于
.general-top-explain .general-top-explain-right{
	float: right;
	height: 60px;
	width: 200px;
	position: relative;
}
.general-top-explain .general-top-explain-right .sign{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 15px;
	float: right;
	color:#777;
	border:1px solid #ccc;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
}
.general-top-explain .general-top-explain-right .less{
	right: 60px;
}
.general-top-explain .general-top-explain-right .more{
	right: 10px;
}*/

/*右侧是两行文字的时候使用
.general-top-explain .general-top-explain-right{
	float: right;
	height: 60px;
	width: 300px;
	position: relative;
	padding-top: 10px;
	box-sizing: border-box;
}
.general-top-explain .general-top-explain-right .for-set-position{
	width: 70px;
	height: 30px;
	position: absolute;
	top: 15px;
	text-align: center;
}
.general-top-explain .general-top-explain-right .i-is-left{
	right: 130px;
	z-index: 2;
}
.general-top-explain .general-top-explain-right .i-is-middle{
	right: 70px;
}
.general-top-explain .general-top-explain-right .i-is-right{
	right: 10px;
	z-index: 2;
}
.general-top-explain .general-top-explain-right .i-is-left：hover{
	font-weight: bold;
}*/

/*右侧是两块文字加点时用
.general-top-explain .general-top-explain-right{
	float: right;
	height: 60px;
	width: 300px;
	position: relative;
	background-color: red;
	padding-top: 10px;
	box-sizing: border-box;
}
.general-top-explain .general-top-explain-right .for-add-border-and-word{
	display: block;
	font-weight: bold;
	width: 90px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	top: 15px;
	right: 10px;
	border:1px solid #ccc;
	text-align: center;
	font-size: 15px;
	border-radius: 5px;
}
.general-top-explain .general-top-explain-right .for-add-border-and-word i{
	font-size: 8px;
}*/
.general-image-every{
	width: 306px;
	height: 430px;
	border:1px solid #e1e1e1;
	box-sizing: border-box;
	position: relative;
	display: block;
}
 .general-image-every .background-image{
 	width: 100%;
 	height: 244px;
 	background-image: url(../img/lx-1.png);
 	background-position: -792px -1902px;
 	background-repeat: no-repeat;
 }
.general-image-every .image-explain{
	width: 288px;
	height: 16px;
	margin:0px auto;
	line-height: 1.2;
	text-align: center;
 }
.general-image-every .ad-slogan{
	width: 304px;
	height: 16px;
	margin-top:20px;
	line-height: 16px;
	text-align: center;
 }
.general-image-every .goods-skin{
	width: 304px;
	height: 14px;
	margin-top:20px;
}
.general-image-every .goods-skin .i-amsmallul{
	width:96px;
	height: 14px;
	margin: 0px auto;
	padding-left: 0px;
	position: relative;
	z-index: 5;
}
.general-image-every .goods-skin .i-amamallul .i-amsmallli{
	float: left;
	width: 14px;
	height: 14px;
	margin:0px 5px;
	box-sizing: border-box;
	border-radius: 50px;
	border: 3px solid #e8e8e8;
	transition: all 0.7s;
}
.general-image-every .goods-skin .i-amamallul .i-amsmallli:nth-child(1){
	background-color: #c92929;
}
.general-image-every .goods-skin .i-amamallul .i-amsmallli:nth-child(2){
	background-color: #c92929;
}
.general-image-every .goods-skin .i-amamallul .i-amsmallli:nth-child(3){
	background-color: #c92929;
}
.general-image-every .goods-skin .i-amamallul .i-amsmallli:nth-child(4){
	background-color: #c92929;
}
.general-image-every .goods-skin .i-amamallul .i-amsmallli:hover{
	border:3px solid #bcbcbc;
}
.general-image-every .goods-price{
	width: 304px;
	height: 20px;
	margin-top: 40px;
	box-sizing: border-box;
    color: red; 
 }
.general-image-every .goods-price .for-margin-auto{
	display: inline-block;
	width: 100px;
	height: 20px;
	margin:0px 102px;
	font-size: 20px;
}
.general-image-every .goods-price .money-symbol{
	float: left;
 }
.general-image-every .goods-price .number{
	float: right;
	font-size: 20px;
 }
.general-image-every .i-is-view-detail{
	position: absolute;
	top: 280px;
	left: 0px;
	width: 304px;
	height: 114px;
	opacity: 0;
	z-index: 3;
}
.general-image-every .i-is-view-detail .i-is-top{
	width: 304px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	background-color: white;
}
.general-image-every .i-is-view-detail .i-is-bottom{
	position: absolute;
	bottom: 0px;
	left:102px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #eee;
	border:1px solid #e8e8e8;
	font-size: 20px;
}
.general-image-every:hover .i-is-view-detail{
	opacity: 1;
}
.general-image-every .for-add-top-right{
	width: 46px;
	height: 20px;
	background-color: #ffe7e5;
	color: #d03b34;
	border:1px solid #f3938b;
/*	background-color: #fffbdf;
	color: #a06e37;
	border:1px solid #d5b480;*/
	border-radius: 10px;
	text-align: center;
	line-height: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
}
.general-big-border{
	width: 1224px;
	height: 920px;
	background-color: red;
	position: relative;
	border-radius: 3px;
}
.general-big-border .i-anbigul{
	position: absolute;
	top: 60px;
	left: 0px;
	width:1224px;
	height: 860px;
	padding: 0px;
	background-color: blue;
	margin:0px;
}
.general-big-border .i-anbigul .i-ambigli{
	float: left;
	width: 306px;
	height: 430px;
	background-color: yellow;
	transition: all 0.5s;
}
.general-big-border .i-anbigul .i-ambigli:hover{
	box-shadow:2px 2px 3px 1px black inset;
}
