.top{
	width: 100%;
	height: 100px;
	background: #131313;
}
.top .top1{
	width: 1224px;
	height:100px;
	margin: 0 auto;
}
.top .top1 .logo{
	float: left;
	width: 202px;
	height: 40px;
	margin-top: 35px;
}
.top .top1 .logo img{
	width: 100%;
	height: 100%;
}
.top .top1 .oneself{
	float: right;
	width: 132px;
	height:100px;
	line-height: 100px;
}
.top .top1 .oneself span{
	font-size: 16px;
	color: #9b9b9b;
}
.top .top1 .oneself i{
	margin-left: 43px;
	font-size: 16px;
	color: #9b9b9b;
}
.top .top1 .mall{
	float: right;
	width: 244px;
	height: 100px;
	line-height: 100px;
}
.top .top1 .mall p{
	display: inline-block;
	font-size: 12px;
}
.top .top1 .mall .p1{
	color: #666666;
}
.top .top1 .mall .p2{
	margin-left: 40px;
	color: #cccccc;
	font-weight: bold;
}


.header{
	position: fixed;
	width: 100%;
	height: 35px;
	background: #1c1c1c;
}
.header .header1{
	width: 1224px;
	height: 35px;
	line-height: 35px;
	margin: 0 auto;
}
.header .header1 a{
	display: inline-block;
	margin-right: 30px;
	font-size: 11px;
}
.header .header1 a:first-child{
	color: #cccccc;
	font-weight: bold;
}
.header .header1 a:last-child{
	color: #666666;
}
.main li{
	margin-top: 0;
}
.main img{
	width: 1660px;
}
.main .img1{
	height: 1527.19px;
}
.main .img2{
	height: 2594.06px;
}
.main .img3{
	height: 900px;
}
.main .img4{
	height: 808.44px;
}
.main .img5{
	height: 632.19px;
}